@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.center {
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;

}

.start-button {
    background-color: lightgreen;
    color: #fff;
    height: 30px;
    width: 70px;
    margin: 8px;
    border-radius: 5px;
    border-color: #fff;
    border-width: 0px;
}

.stop-button {
    background-color: red;
    color: #fff;
    height: 30px;
    width: 70px;
    margin: 8px;
    border-radius: 5px;
    border-color: #fff;
    border-width: 0px;
}

.reset-button {
    background-color: grey;
    color: #fff;
    height: 30px;
    width: 70px;
    margin: 8px;
    border-radius: 5px;
    border-color: #fff;
    border-width: 0px;
}

.shortbreak {
    background-color: lightblue;
    color: #fff;
    height: 30px;
    width: 120px;
    margin: 8px;
    border-radius: 5px;
    border-color: #fff;
    border-width: 0px;
}

.longbreak {
    background-color: purple;
    color: #fff;
    height: 30px;
    width: 120px;
    margin: 8px;
    border-radius: 5px;
    border-color: #fff;
    border-width: 0px;
}

.timer {
    font-size: 50px;
    padding: 10px;
    margin: 8px;
}
